.navbarContainer {
    height: auto;
    width: 100%;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-family: monospace;
    font-size: larger;
    font-size: x-large;
    font-weight: bold;
}

.title {
    color: #16213e;
    padding: 20px;
    cursor: pointer;
}